@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&family=Tektur:wght@400..900&display=swap');

.font-title{
  font-family: 'Stalinist One', Arial, Helvetica, sans-serif;
}
.font-main{
  font-family: 'Tektur', Arial, Helvetica, sans-serif;
}



/* Define the custom keyframes */
@keyframes splashPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
/* Create a class that uses the custom animation */
.animate-splash {
  animation: splashPulse 2s infinite;
}

body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
}
